<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test Class and Style Bind</title>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
    
    <div id="app-1">
        <ul id="example">
            <li v-for="item in items">
                {{ item.message }}
            </li>
        </ul>
    </div>

    <!-- v-for 还支持一个可选的第二个参数为当前项的索引。 -->
    <div id="app-2">
        <ul>
            <li v-for="(item, index) in items">
                {{ parentMessage }} - {{ index }} - {{ item.message }}
            </li>
        </ul>
    </div>

    <!-- 对象的v-for -->
    <div id="app-3">
        <ul>
            <li v-for="(value, key, index) in object">
                {{ index }}: {{ key }} : {{ value }}
            </li>
        </ul>
    </div>

    <!-- 过滤或排序 -->
    <div id="app-4">
        <ul>
            <li v-for="n in evenNumbers">{{ n }}</li>
        </ul>
        <ul>
            <li v-for="n in sortNumbers">{{ n }}</li>
        </ul>
    </div>

    <!-- v-for on a template -->
    <div id="app-5">
        <template v-for="item in items">
            <li>{{ item.message }}</li>
            <li class="divider" role="presentation">|</li>
        </template>
    </div>

    <!-- v-for in component -->
    <div id="app-6">
        <!-- 2.2.0+ 的版本里，当在组件中使用 v-for 时，key 现在是必须的 -->
        <my-component v-for="item in items" :key="item.id">
        </my-component>
    </div>

    <!-- 任何数据都不会被自动传递到组件里，因为组件有自己独立的作用域。为了把迭代数据传递到组件里，我们要用 props -->
    <div id="todo-list-example">
        <form v-on:submit.prevent="addNewTodo">
            <label for="new-todo">Add a todo</label>
            <input 
                    v-model="newTodoText"
                    id="new-todo"
                    placeholder="E.g. Feed the cat">
            <button>Add</button>
        </form>
        <ul>
            <li is="todo-item"
                v-for="(todo, index) in todos"
                v-bind:key="todo.id"
                v-bind:title="todo.title"
                v-on:remove="todos.splice(index, 1)"></li>
        </ul>
    </div>

<script>
    var app1 = new Vue({
        el: '#app-1', 
        data: {
            items: [
                {id: 0, message: 'js'},
                {id: 1, message: 'node'},
                {id: 2, message: 'vue'}
            ]
        }
    });

    var app2 = new Vue({
        el: '#app-2', 
        data:{
            parentMessage: 'parent', 
            items: [
                {id: 0, message: 'js'},
                {id: 1, message: 'node'},
                {id: 2, message: 'vue'}
            ]
        }
    });

    new Vue({
        el: '#app-3', 
        data: {
            object: {
                firstName: 'John', 
                lastName: 'Doe', 
                age: 30
            }
        }
    });

    var app4 = new Vue({
        el: '#app-4', 
        data: {
            numbers: [2, 1, 4, 8, 3]
        },
        computed: {
            evenNumbers: function(){
                return this.numbers.filter(function(num){
                    return num % 2 === 0;
                });
            }, 
            sortNumbers: function(){
                return this.numbers.sort(function(a, b){
                    return a > b;
                });
            }
        }
    });

    var app5 = new Vue({
        el: '#app-5', 
        data: {
            items: [
                {id: 0, message: 'node'}, 
                {id: 1, message: 'vue'}
            ]
        }
    });

    Vue.component('my-component', {
        template: '<label>good</label>'
    });
    var app6 = new Vue({
        el: '#app-6', 
        data: {
            items: [
                {id: 0, message: 'node'}, 
                {id: 1, message: 'vue'}
            ]
        }
    });

    //
    Vue.component('todo-item', {
        template: '\
                <li>\
                    {{ title }}\
                    <button v-on:click="$emit(\'remove\')">Remove</button>\
                </li>\
        ',
        props: ['title']
    });

    var app7 = new Vue({
        el: '#todo-list-example', 
        data: {
            newTodoText: '',
            todos: [
                {id: 1, title: 'Do the dishes'}, 
                {id:2, title: 'Take out the trash'}
            ], 
            nextTodoId: 3
        },
        methods: {
            addNewTodo: function(){
                this.todos.push({
                    id: this.nextTodoId++, 
                    title: this.newTodoText
                });
                this.newTodoText = '';
            }
        }
    });

</script>

</body>
</html>