<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Component Demo</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>

</head>
<body>
    
    <div id="app">
        <ol>
            <todo-item v-for="item in groceryList"
                        v-bind:todo="item"
                        v-bind:key="item.id"></todo-item>
        </ol>
    </div>

    <div id="app-2">
        <p>{{ foo }}</p>
        <button v-on:click="foo == 'baz'">change it</button>
    </div>

    <!-- computed -->
    <div id="app-3">
        <p>Original message: "{{ message }}"</p>
        <p>Computed reversed message: "{{ reverseMessage }}"</p>
    </div>

    <!-- methods -->
    <div id="app-4">
        <p>Reversed Message: "{{ reverseMessage() }}"</p>
    </div>

    <!-- computed vs watch -->
    <div id="app-5">
        <div id="demo">{{ fullName }}</div>
    </div>
    <!-- use computed not watch -->
    <div id="app-6">
        <div id="demo6">{{ fullName }}</div>
    </div>

    <!-- the getter and setter attr of computed -->
    <div id="app-7">
        <p>{{ fullName }}</p>
    </div>

    <!-- watch -->
    <div id="app-8">
        <p>
            Ask a yes/no question:
            <input type="text" v-model="question">
        </p>
        <p>{{ answer }}</p>
    </div>
<script>
    Vue.component('todo-item', {
        props: ['todo'],
        template: '<li>{{ todo.text }}</li>'
    });
    var app = new Vue({
        el: '#app', 
        data: {
            groceryList: [
                {id: 0, text: 'js'}, 
                {id: 1, text: 'node'}, 
                {id: 2, text: 'vue'}
            ]
        }
    });

    var obj = {foo: 'bar'};
    // 会阻止修改现有的属性，也意味着响应系统无法再追踪变化。
    Object.freeze(obj);
    new Vue({
        el: '#app-2', 
        data: obj
    });

    var app3 = new Vue({
        el: '#app-3', 
        data: {
            message: 'Hello'
        }, 
        computed: {
            reverseMessage: function(){
                console.log('computed function worked.');
                return this.message.split('').reverse().join('');
            }
        }
    });

    var app4 = new Vue({
        el: '#app-4', 
        data: {
            message: 'Hello Vue'
        }, 
        methods: {
            reverseMessage: function(){
                console.log('methods funciton worked.');
                return this.message.split('').reverse().join('');
            }
        }
    });

    var app5 = new Vue({
        el: '#app-5', 
        data: {
            firstName: 'Foo', 
            lastName: 'Bar', 
            fullName: 'Foo Bar'
        }, 
        // 下面代码是命令式且重复的，通常更好的做法是使用计算属性而不是命令式的 watch 回调
        watch: {
            firstName: function(val) {
                this.fullName = val + ' ' + this.lastName;
            }, 
            lastName: function(val){
                this.fullName = this.firstName + ' ' + val;
            }
        }
    });
    var app6 = new Vue({
        el: '#app-6', 
        data: {
            firstName: 'Foo', 
            lastName: 'bar'
        }, 
        computed: {
            fullName: function(){
                return this.firstName + ' ' + this.lastName;
            }
        }
    });

    // 默认情况下，computed只有getter属性，不过可以在需要时提供一个setter
    var app7 = new Vue({
        el: '#app-7', 
        data: {
            firstName: 'Foo', 
            lastName: 'Bar'
        }, 
        computed: {
            fullName: {
                get: function(){
                    return this.firstName + ' ' + this.lastName;
                }, 
                set: function(newVal) {
                    var names = newVal.split(' ');
                    this.firstName = names[0];
                    this.lastName = names[names.length - 1];
                }
            }
        }
    });

    // 虽然计算属性在大多数情况下更合适，但有时也需要一个自定义的侦听器。
    // 这就是为什么 Vue 通过 watch 选项提供了一个更通用的方法，来响应数据的变化。
    // 当需要在数据变化时执行异步或开销较大的操作时，这个方式是最有用的。
    var app8 = new Vue({
        el: '#app-8', 
        data: {
            question: '', 
            answer: 'I cannot give you an answer until you ask a question: '
        }, 
        watch: {
            // 如果 `question` 发生改变，这个函数就会运行
            question: function(newQuestion, oldQuestion){
                console.log('new: ' + newQuestion);
                console.log('old: ' + oldQuestion);
                this.answer = 'waiting for you to stop typing ...';
                this.debounceGetAnswer();
            }
        }, 
        created: function(){
            // `_.debounce` 是一个通过 Lodash 限制操作频率的函数。 
            // 在这个例子中，我们希望限制访问 yesno.wtf/api 的频率 
            // AJAX 请求直到用户输入完毕才会发出。想要了解更多关于 
            // `_.debounce`函数 (及其近亲 `_.throttle`) 的知识， 
            // 请参考：https://lodash.com/docs#debounce
            this.debounceGetAnswer = _.debounce(this.getAnswer, 500);
        }, 
        methods: {
            getAnswer: function(){
                if(this.question.indexOf('?') === -1) {
                    this.answer = 'Question usually contain a question mark.';
                    return ;
                }
                this.answer = 'Thinking...';
                var vm = this;
                axios.get('https://yesno.wtf/api')
                    .then(function(response){
                        vm.answer = _.capitalize(response.data.answer);
                    })
                    .catch(function(error){
                        vm.answer = 'Error! Could not reach the API.' + error;
                    });
            }
        }
    });
</script>
</body>
</html>